@import "tailwindcss";

@theme {
  --color-primary: #002147;
  --color-canvas: #05070A;
  --color-surface: #0E1117;
  --color-border: #1E293B;
  --color-accent: #7C5CFC;
  --color-tertiary: #00E5C3;

  --font-heading: "Syne", sans-serif;
  --font-body: "Inter", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-body);
    background-color: var(--color-canvas);
    color: #f1f5f9;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: -0.015em;
  }
}
